:root{
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    overflow: hidden;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    gap: 10px;
}
.side-bar{
    padding: 40px;
    height: fit-content;
    width: 400px;
    justify-self: center;
}

.header > .side-bar{
    box-shadow: none;
    width: fit-content;
    height: fit-content;
}
.form{
    display: grid;
    grid-template-rows: repeat(4 1fr);
    gap: 30px;
    width: 100%;
}

.header > .side-bar >.form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

.form > div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 100%;
}

.header > .side-bar > .form > div{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    max-width: fit-content;
}

.header > .side-bar > .form > .submit-button{
    background-color: white;
    color: rgb(36, 92, 36);
    font-weight: bold;
}

.form > button{
    background-color: rgb(36, 92, 36);
    color: white;
    height: 30px;
    border: none;
    border-radius: 10px;
    width: fit-content;
}

.content{
    padding: auto;
    margin: 0px;
    height: 100%;
    width: 100%;
}
.header{
    margin: 0;
    padding: 10px;
    color: white;
    background-color: rgb(36, 92, 36);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
h1{
    text-align: center;
    font-weight: 500px;
    font-size: 3rem;
    width: 100%;

}
.book-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: fit-content;
    max-width: 100%;
    gap: 40px;
    padding: 20px;
    justify-self: center;
}
.book-div{
    display: grid;
    grid-template-rows: repeat(4 1fr);
    gap: 10px;
    box-shadow: 0px 1px 3px 1px ;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
}
.book-div > * {
    overflow: hidden;

}
input{
    border: solid rgb(36, 92, 36) 2px;
    border-radius: 10px;
    padding: 10px;
}
.delete-book{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 100px;
}
.read-div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.togle-button{
    border: solid rgb(36, 92, 36) 2px;
    border-radius: 5px;
    width: 120px;
    height: 20px;
    background-color: rgb(36, 92, 36);
    color: white;
}
.add-button{
    background-color: white;
    border-radius: 10px;
    color: rgb(36, 92, 36);
    font-weight: bold;
    height: 40px;
    border: none;
    font-size: 1rem;
}